*{
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

a:link.sub {
    display: inline-block;
    margin-right: 20px;
    color: black;
    margin-left: 10px;
    font-size: 20px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a:visited.sub {
    color: black;
}
  
a:hover.sub {
    color: gray;
}
.headers{
    color: rgb(0, 0, 0);
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: x-large;
	margin: 10px;
	padding: 10px; 
}
.studentName{
    color: rgb(175, 8, 8);
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: xx-large;
	margin: 10px;
	padding: 10px; 
}
.logout{
    background-color: rgb(175, 8, 8);
	color: rgb(249, 249, 250);
	border: 2px solid #837f7f;
	border-radius: 12px;
	font-size: large;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	padding: auto;
	width: 100px;
	text-align: center;
	text-decoration: dashed;
	margin: 10px;
	padding: 10px;
}
.logout:hover{
    color: grey;
}
.display{
    border: solid black 1px;
    background-color:azure;
}